.slider-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.slider-inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 16px;
    max-width: 400px;

    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 300px;
    height: auto;
}

.card h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.card p {
    padding: 16px;
    margin: 8px 0;
}

.slider-container button{
    border: solid 1px cadetblue;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
}

.slider-container button:hover{
    color: white;
    background-color: cadetblue;
}

.stay-detail{

    display: flex;
    max-width: 750px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.stay-detail img{
    width: 700px;
    height: auto;
    border-radius: 15px;
}

.stay-detail h2{
    font-weight: bold;
    font-size: 40px;
}

.stay-detail p{
    max-width: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

}

.stay-detail button{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #4c9e9e;
    border: solid 1px cadetblue;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
}

.stay-detail button:hover{
    color: white;
    background-color: cadetblue;
}



.main-flights-page{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 100%;
}


header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: cadetblue;
    padding: 5px;
    gap: 5px;
    margin: auto;
    border-radius: 5px;
}

header div{
    display: flex;
    padding: 13px 30px;
    background-color: white;
    border-radius: 5px;
}

.departure-city{
    justify-content: center;
    min-width: 170px;
    display: flex;
    padding: 13px 30px;
    background-color: white;
    border-radius: 5px;
}


.search{
    border: none;
    padding: 5px;
}

.date {
    border: none;
    gap: 15px;
    padding: 5px;
    display: flex;
}

.date p{
    margin-top: 8px;
    padding: 0;
}

.date input{
    border-radius: 4px;
    border: none;
    padding: 8px 0;
}
header input{
    border-radius: 4px;
    border: none;
}

header button{
    color: white;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 12px 50px;
    border: solid 1px white;
    transition: 0.3s;
}

header button:hover{
    color: cadetblue;
    background-color: white;

}

svg{
    margin-right: 5px;
}

.search svg{
    margin-right: 5px;
    margin-top: 8px;
    margin-left: 13px;
}



.flights-content{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin:auto;
}

.flights-slider-container{
    display: flex;
    gap: 1px;
}

.flights-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 650px;
    margin-bottom: 25px;
    justify-content: space-between;
    display: flex;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.flights-card div{
    display: flex;
    justify-content: space-between;
}

.flights-card-info{
    display: flex;
    flex-direction: column;
}


.extra-fee{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0;

}

.extra-fee-block{
    display: flex;
    gap: 20px;
    padding: 0;
}

.extra-fee p{
    margin: 0;

    display: flex;
}


.no-flights-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 650px;
    height: 900px;
    margin-bottom: 25px;
    justify-content: center;
    display: flex;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flights-card h2 {
    margin-top: 14px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.flights-card p {
    margin: 8px 0;
}

.clickable-block{
    display: flex;
    flex-direction: column;
}

.clickable-block div{
    display: flex;
    justify-content: space-between;
}

.clickable-block span{
    margin-top: 7px;
    font-size: 18px;
}

.clickable-block p{
    font-size: 18px;
    font-weight: bold;
}

.extra-fee button{

    color: white;
    background-color: cadetblue;
    border-radius: 5px;
    border: solid 1px white;
    padding: 13px 10px;
    transition: 0.3s;
    width: 220px;
}

.extra-fee button:hover{
    border: solid 1px cadetblue;
    color: cadetblue;
    background-color: white;
}

.filters{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    height: 700px;
    margin-bottom: 25px;
    width: 340px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filters h2{
    font-size: 20px;
    font-weight: bold;
}

.filters h3{
    margin-top: 24px;
    font-size: 18px;
}

input[type=checkbox]{
    border-radius: 4px;
}

input:checked + label{
    text-decoration: underline;
}