
.main-block{
    display: flex;
    gap: 40px;
    margin-bottom: 80px;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px 0 20px 20px ;
    border-right: solid 1px #c8c9ca;

}
a{
    text-decoration: none;
    color: black;
}


.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.person-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.person-info p {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile label {
    display: block;
    margin-bottom: 10px;
}

.person-info input,
.person-info textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile img{
    margin-bottom: 0;
}

.info{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}




.editprof-block{
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
}


.person-info button {
    background-color: #0c8de4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin: auto;
}

.person-info button:hover {
    background-color: #005fa3;
}

.left{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 280px;

}

.left img{
    width: 300px;
    opacity: 0.9;
    transition: 0.3s;

}
.left img:hover{
    opacity: 1.6;
    transform: scale(1.04);
}

.left-settings{
    margin-left: 25px;

}

.left-settings p{
    margin-top: 0;
    font-weight: bold;
    margin-left: 8px;
    font-size: 16px;
}



.left-settings div{
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 235px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.left-settings div:hover{
    background-color: #e5e5e5;
}

#edit_profile{
    font-size: 15px;
    font-weight: normal;
    background-color: white;
}

.displayed-block{
    font-weight: normal;
    font-size: 40px;
}
.person-info{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.person-info h1{
    margin-top: 0;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;

}


.right{
    width: 700px;
}

.profile-stay-block{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f8ffff;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.profile-stay-block p{
    font-size: 18px;
}

