@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1375px;
    padding-left: 40px;
    padding-right: 40px;
}

.nav_tool{
    margin-bottom: 100px;
}

.tab_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: 400;
}

.tab{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgba(96, 100, 112, 0.6);
    border-bottom: none;
    color: white;
}




.tab:last-child{
    margin-right: 0;
}
.tab_list > .active{
    background-color: white;
    color: black;

}

.tab_pane{
    background-color: white;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: none;
}


.tab_container{
    padding: 24px;
}

/* .tab_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.active{
    display: block;
}

.mountain-scene{
    background-image: url("../public/first-background-parallax.png");
    z-index: 1001;
    width: 1000px;

}

/*==================Membership=======================*/
.membership{
    width: 100%;
    display: flex;
    justify-content: center;
}

.membership__inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.membership__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    height: 500px;
    width: 300px;

    transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.membership img{
    margin-top: 25px;
    height: 250px;
}
#premium:hover{
    box-shadow: 0 0 12px rgb(33, 63, 102);
    border: 1px solid rgb(33, 63, 102);
}

#business:hover{
    box-shadow: 0 0 12px rgba(95, 158, 160, 0.94);
}

#basic:hover{
    box-shadow: 0 0 12px rgba(192, 192, 192, 0.755);
}

.card__title{
    font-weight: 500;
}

.card__price span{
    font-size: 18px;
}

.card__benefits{
    height: 60%;
    margin-bottom: 20px;
}

.membership__price{
    font-weight: bold;
    margin-bottom: 20px;
}

.membership button{
    font-size: 12px;
    color: white;
    background-color: rgb(123, 220, 223);
    border-radius: 5px;
    border: solid 1px white;
    padding: 10px;
    transition: 0.3s;
    width: 150px;
}

#basic button{
    font-size: 12px;
    color: #ffffff;
    background-color: #565656;
    border-radius: 5px;
    border: solid 1px #ffffff;
    padding: 10px;
    transition: 0.3s;
    width: 150px;
}

#basic button:hover{
    background-color: #ffffff;
    color: #565656;
    border: solid 1px #565656;
}


#premium button{
    background-color: rgb(71, 115, 235);
}

.membership button:hover{
    border: solid 1px cadetblue;
    color: cadetblue;
    background-color: white;
}

#premium button:hover{
    border: solid 1px rgb(71, 115, 235);
    color: rgb(71, 115, 235);
    background-color: white;
}

.disabled-button{
    cursor: not-allowed;
}

.membership-button {
    background-color: black;
    color: white;
    border: black 1px solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: auto;
    transition: 0.3s;
}

.disabled-membership-button {
    background-color: black;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: not-allowed;
    width: 200px;
    margin: auto;
    transition: 0.3s;
}

.disabled-membership-button:hover{
    background-color: #5b5b5b;
}

.membership-button:hover{
    background-color: white;
    color: black;

}


/*==================Payment=======================*/

.payment{
    display: flex;
    gap: 30px;
    width: 50%;
}

.payment p{
    text-align: center;
}

.payment-left{
    gap: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
}

.payment-left input{
    width: 400px;
    padding-left: 10px;
    border-radius: 5px;
}

.payment-left form{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.payment-left label{
    color: #5b5b5b;
    font-size: 14px;
}

.payment-right{
    background-color: #c4efef;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
}
@media (max-width: 968px) {
    .payment-right {
        display: none;
    }
    .payment-left{
        margin-left: -50px;

    }
}

.payment-right button{
    padding: 10px 5px;
    color: white;
    background-color: #0c8de4;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    transition: 0.3s;
}

.payment-disabled-button{
    padding: 10px 5px;
    color: white;
    background-color: #0c8de4;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    cursor: not-allowed;
}

.payment-disabled-button:hover{
    color: #cbcbcb;
}

.payment-right button:hover{
    background-color: #0980d0;
}

.payment-right h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes input{
    border-radius: 50%;
    margin-right: 7px;

}

.boxes div{
    display: flex;
    justify-content: space-between;
}